<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <th:block th:include="include :: header('新增用户')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form id="form-info" class="form-horizontal">
        <input name="caseInfo" type="hidden" id="treeId"/>
        <h4 class="form-header h4">案件信息</h4>
        <div class="row" >
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">案件编号：</label>
                    <div class="col-sm-8">
                        <input name="caseNum" id="caseNum" placeholder="请输入案件编号" value="锡交路罚字〔2022〕30012号"
                               class="form-control"
                               type="text" maxlength="30"
                               required>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">处罚对象：</label>
                    <div class="col-sm-8">
                        <select id="object" name="object" class="form-control m-b">
                            <option>个人</option>
                            <option>公司</option>
                        </select>
                    </div>
                </div>
            </div>

<!--            <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label is-required">受案时间：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input id="caseTime" name="caseTime" type="datetime-local" value="" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


        <div class="person-info" id="person-info">
            <h4 class="form-header h4">个人信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">姓名：</label>
                        <div class="col-sm-8">
                            <input name="name" id="name" placeholder="请输入姓名" class="form-control" type="text"
                                   maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">性别：</label>
                        <div class="col-sm-8">
                            <select name="sex" id="sex" class="form-control m-b"  required>
                                <option selected="selected" disabled="disabled"  style='display: none' value='0'>--请选择性别--</option>
                                <option value="1" name="男">男</option>
                                <option value="2" name="女">女</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">身份证号：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="numberId" name="numberId" placeholder="请输入身份证号" class="form-control"
                                       οnchange="get_baseinfo()" type="text" maxlength="18" required>
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">年龄：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="age" name="age" class="form-control age" type="text" maxlength="3"
                                       placeholder="请输入年龄" required>
                                <span class="input-group-addon"><i class="fa fa-male"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">手机号码：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="personPhone" name="personPhone" placeholder="请输入手机号码" class="form-control"
                                       type="text" maxlength="11" required>
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">家庭住址：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="homeAddress" name="homeAddress" class="form-control address" type="text"
                                       maxlength="50" placeholder="请输入住址" required>
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">工作单位：</label>
                        <div class="col-sm-8">
                            <input id="workUnit" name="workUnit" placeholder="请输入工作单位" class="form-control" type="text"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">职务：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="post" name="post" placeholder="请输入职务" class="form-control" type="text"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">联系地址：</label>
                        <div class="col-sm-8">
                            <input id="contactAddress" name="contactAddress" placeholder="请输入联系地址"
                                   class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="company-info" id="company-info" style="display:none;">
            <h4 class="form-header h4">公司信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">名称：</label>
                        <div class="col-sm-8">
                            <input name="companyName" id="companyName" placeholder="请输入公司名称" class="form-control"
                                   type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">统一社会信用代码：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="creditCode" name="creditCode" class="form-control age" type="text"
                                       maxlength="20" placeholder="请输入社会信用代码" required>
                                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">法人（负责人）姓名：</label>
                        <div class="col-sm-8">
                            <input name="directorName" id="directorName" placeholder="请输入姓名" class="form-control"
                                   type="text" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">法人（负责人）身份证号：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="directorNumId" name="directorNumId" placeholder="请输入身份证号"
                                       class="form-control" type="text" required>
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">地址：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="companyAddress" name="companyAddress" class="form-control age" type="text"
                                       placeholder="请输入公司地址" required>
                                <span class="input-group-addon"><i class="fa fa-send"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">联系电话：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="companyPhone" name="companyPhone" placeholder="请输入联系电话" class="form-control"
                                       type="text" maxlength="18" required>
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="veh-info">
            <h4 class="form-header h4">车辆信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">车牌号：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input name="vehPlate" id="vehPlate" placeholder="请输入车牌号" class="form-control"
                                       type="text"
                                       maxlength="15"
                                       required>
                                <span class="input-group-addon"><i class="fa fa-cc-jcb"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">车牌颜色：</label>
                        <div class="col-sm-8">
                            <select name="vehPlateColor" id="vehPlateColor" class="form-control m-b" required>
                                <option>黄</option>
                                <option>蓝</option>
                                <option>绿</option>
                                <option>白</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">车型：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="vehType" name="vehType" placeholder="请输入车型" class="form-control"
                                       type="text" maxlength="18" required>
                                <span class="input-group-addon"><i class="fa fa-car"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">轴数：</label>
                        <div class="col-sm-8">
                            <select name="vehAxleNum" id="vehAxleNum" class="form-control m-b" required>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>8</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">车货总重：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="totalWeight" name="totalWeight" placeholder="请输入车货总重" class="form-control"
                                       maxlength="5" type="text"
                                       onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" required>
                                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">检测时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="checkTime" name="checkTime" type="datetime-local" value=""
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">检测站点：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select id="checkSite" name="checkSite" class="form-control" style='display: none'
                                        value='' required>
                                    <option selected="selected" disabled="disabled" style='display: none'
                                            value=''></option>
                                    <option>G346 K152+500高新区澄张公路东向西</option>
                                    <option>G346 K194+400璜土滨江西路西向东</option>
                                    <option>S122 K115+475璜土港城大道西向东</option>
                                    <option>S122 K156+50云亭江阴大道西向东</option>
                                    <option>S122 K159+500云亭江阴大道东向西</option>
                                    <option>S122 K178+460华士芙蓉大道东向西</option>
                                    <option>S229 K181+450申港海港大道北向南</option>
                                    <option>S229 K181+520申港海港大道南向北</option>
                                    <option>S232 K310+335利港省庄大道南向北</option>
                                    <option>S259 K15+475华士红旗路北向南</option>
                                    <option>S261 K3+635申港亚包大道南向北</option>
                                    <option>S340 K10+564顾山云顾路东向西</option>
                                    <option>S357 K10+005顾山暨南大道东向西</option>
                                    <option>S442 K5+785顾山锡张路北向南</option>
                                    <option>X257 K1+480璜土扬子大道南向北</option>
                                    <option>X258 K1+850周庄砂山大道北向南</option>
                                    <option>X302 K23+320璜土镇澄路西向东</option>
                                </select>
                                <!--                                <span class="input-group-addon"><i class="fa fa-road"></i></span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">超限吨位：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="outWeight" name="outWeight" placeholder="请输入超限吨位" class="form-control"
                                       maxlength="5" type="text" required
                                       onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">装载货物：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="goods" name="goods" placeholder="请输入装载货物" class="form-control" type="text">
                                <span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">装载时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="loadTime" name="loadTime" type="datetime-local" value=""
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">装载地点：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="loadSite" name="loadSite" placeholder="请输入装载地点"
                                       class="form-control"
                                       type="text" required>
                                <span class="input-group-addon"><i class="fa fa-send-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">运往目的地：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="dest" name="dest" placeholder="请输入运往目的地" class="form-control"
                                       type="text" required>
                                <span class="input-group-addon"><i class="fa fa-send"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script>
    var prefix = ctx + "record/offsite";

    $("#form-info").validate({
        onkeyup: false,
        rules: {
            // 校验案件编号
            caseNum: {
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: prefix + "/checkCaseNumUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "caseNum": function () {
                            return $.common.trim($("#caseNum").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            // 校验姓名
            name: {
                isName: true,
            },
            // 校验法人姓名
            directorName: {
                isName: true,
            },
            //校验身份证
            numberId: {
                isIdentity: true,
            },
            //校验法人身份证
            directorNumId: {
                isIdentity: true,
            },

            // 校验手机号
            personPhone: {
                isPhone: true,
            },

            // 校验公司联系电话
            companyPhone: {
                isPhoneOrTel: true,
            },

            // 校验车牌号，暂时不启用
            vehPlate: {
                // isPhone: true,
            },

        },
        messages: {
            "caseNum": {
                remote: "该案件编号已存在！"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {

        if ($.validate.form()){
            // 案件信息
            var caseNum = $("input[name='caseNum']").val();
            var caseObject = document.getElementById("object").value;
            //var caseTime = document.getElementById("caseTime").value.replace(/T/g, " ");
            //个人信息
            var name = document.getElementById("name").value;
            var age = document.getElementById("age").value;
            var sex = document.getElementById("sex").value;
            var numberId = document.getElementById("numberId").value;
            var personPhone = document.getElementById("personPhone").value;
            var homeAddress = document.getElementById("homeAddress").value;
            var workUnit = document.getElementById("workUnit").value;
            var post = document.getElementById("post").value;
            var contactAddress = document.getElementById("contactAddress").value;
            // 公司信息
            var companyName = document.getElementById("companyName").value;
            var creditCode = document.getElementById("creditCode").value;
            var directorName = document.getElementById("directorName").value;
            var directorNumId = document.getElementById("directorNumId").value;
            var companyAddress = document.getElementById("companyAddress").value;
            var companyPhone = document.getElementById("companyPhone").value;
            // 车辆信息
            var vehPlateNum = document.getElementById("vehPlate").value;
            var vehPlateColor = document.getElementById("vehPlateColor").value;
            var vehType = document.getElementById("vehType").value;
            var vehAxleNum = document.getElementById("vehAxleNum").value;
            //超限信息
            var checkTime = document.getElementById("checkTime").value.replace(/T/g, " ");
            var checkSite = document.getElementById("checkSite").value;
            var totalWeight = document.getElementById("totalWeight").value;
            var outWeight = document.getElementById("outWeight").value;
            var goods = document.getElementById("goods").value;
            var loadTime = document.getElementById("loadTime").value.replace(/T/g, " ");
            var loadSite = document.getElementById("loadSite").value;
            var dest = document.getElementById("dest").value;

            var json = {
                //"caseInfo": {"caseNumber": caseNum, "caseObject": caseObject, "caseTime": caseTime},
                "caseInfo": {"caseNumber": caseNum, "caseObject": caseObject},
                "person": {
                    "personName": name,
                    "age": age,
                    "sex": sex,
                    "numberId": numberId,
                    "personPhone": personPhone,
                    "homeAddress": homeAddress,
                    "workUnit": workUnit,
                    "post": post,
                    "contactAddress": contactAddress
                },
                "vehicle": {
                    "vehPlateNum": vehPlateNum,
                    "vehPlateColor": vehPlateColor,
                    "vehType": vehType,
                    "vehAxleNum": vehAxleNum
                },
                "company": {
                    "companyName": companyName,
                    "creditCode": creditCode,
                    "directorName": directorName,
                    "directorNumId": directorNumId,
                    "companyAddress": companyAddress,
                    "companyPhone": companyPhone
                },
                "overload": {
                    "checkTime": checkTime,
                    "checkSite": checkSite,
                    "totalWeight": totalWeight,
                    "outWeight": outWeight,
                    "goods": goods,
                    "loadTime": loadTime,
                    "loadSite": loadSite,
                    "dest": dest
                }
            };
            //$.operate.saveTab(prefix + "/add", data);
            $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/add",
                contentType: "application/json",
                data: JSON.stringify(json),
                async: false,
                // error: function (request) {
                //     $.modal.alertError("系统错误");
                // },
                // success: function (data) {
                //     $.operate.successCallback(data);
                // }
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successTabCallback(result);
                }
            });

        }
    }

    $("#numberId").blur(function() {
        var idNumber = $("#numberId").val();
        // 定义籍贯、出生日期、性别、年龄等变量
        var currDate, month, date, age;
        //计算年龄
        currDate = new Date();
        month = currDate.getMonth() + 1;
        date = currDate.getDate();
        if (idNumber !== "") {
            age = currDate.getFullYear() - idNumber.substring(6, 10) - 1;
            $("#age").val(age);
        }else {
            $("#age").val("");
        }
        //判断年龄
        if (idNumber.substring(10, 12) < month || (idNumber.substring(10, 12) == month && idNumber.substring(12, 14) <= date)) {
            age++;
        }
        //四、获取性别
        if (parseInt(idNumber.substr(16, 1)) % 2 == 1) {
            //男
            $("select[name^='sex']").val(1);
            $("#sex option[value=1]").trigger('change');
        } else if (parseInt(idNumber.substr(16, 1)) % 2 == 0)
        {
            //女
            $("select[name^='sex']").val(2);
            $("#sex option[value=2]").trigger('change');
        }  else {
            //空
            $("select[name^='sex']").val(0);
             $("#sex option[value=0]").trigger('change');
            //<option selected="selected" disabled="disabled"  style='display: none' value='0'>--请选择性别--</option>
        }
    })
    // 隐藏个人或者公司
    $('#object').off('change').on('change', function () {
        if (document.getElementById('object').value === "公司") {
            $('#company-info').show();
            $('#person-info').hide();
        } else {
            $('#person-info').show();
            $('#company-info').hide();
        }
    })

</script>
</body>
</html>