<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.caseInfo.mapper.CaseInfoMapper">

    <insert id="insertCase" parameterType="CaseInfo" useGeneratedKeys="true" keyProperty="caseId">
        insert into rec_offsite_case(
        <if test="caseInfo.caseId != null">case_id,</if>
        <if test="caseInfo.vehPlateNum != null ">veh_plate_num,</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">case_number,</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">case_object,</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">person_id,</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">company_id,</if>
<!--        <if test="caseInfo.caseTime != null">create_time</if>-->
        create_time
        )values(
        <if test="caseInfo.caseId != null and caseInfo.caseId != ''">#{caseInfo.caseId},</if>
        <if test="caseInfo.vehPlateNum != null and caseInfo.vehPlateNum != ''">#{caseInfo.vehPlateNum},</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">#{caseInfo.caseNumber},</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">#{caseInfo.caseObject},</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">#{caseInfo.personId},</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">#{caseInfo.companyId},</if>
<!--        <if test="caseInfo.caseTime != null">#{caseInfo.caseTime}</if>-->
        sysdate()
        )
    </insert>

    <select id="checkCaseNumUnique" parameterType="String" resultType="int">
        select count(1) from rec_offsite_case where case_number=#{caseInfo.caseNumber} limit 1
    </select>



</mapper>