<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.caseInfo.mapper.CaseInfoMapper">

    <!--    案件信息-->
    <resultMap type="CaseInfo" id="CaseInfoResult">
        <id property="caseId" column="case_id"/>
        <result property="personId" column="person_id"/>
        <result property="companyId" column="company_id"/>
        <result property="caseNumber" column="case_number"/>
        <result property="createTime" column="create_time"/>
        <result property="caseObject" column="case_object"/>
        <result property="vehPlateNum" column="veh_plate_Num"/>
    </resultMap>

    <sql id="selectCaseInfoVo">
        select c.case_id, c.case_number, c.case_object, c.veh_plate_num, c.person_id, c.company_id, c.create_time
        from rec_offsite_case c
    </sql>


    <insert id="insertCase" parameterType="CaseInfo" useGeneratedKeys="true" keyProperty="caseId">
        insert into rec_offsite_case(
        <if test="caseInfo.caseId != null">case_id,</if>
        <if test="caseInfo.vehPlateNum != null ">veh_plate_num,</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">case_number,</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">case_object,</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">person_id,</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">company_id,</if>
        <!--        <if test="caseInfo.caseTime != null">create_time</if>-->
        create_time
        )values(
        <if test="caseInfo.caseId != null and caseInfo.caseId != ''">#{caseInfo.caseId},</if>
        <if test="caseInfo.vehPlateNum != null and caseInfo.vehPlateNum != ''">#{caseInfo.vehPlateNum},</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">#{caseInfo.caseNumber},</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">#{caseInfo.caseObject},</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">#{caseInfo.personId},</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">#{caseInfo.companyId},</if>
        <!--        <if test="caseInfo.caseTime != null">#{caseInfo.caseTime}</if>-->
        sysdate()
        )
    </insert>

    <select id="checkCaseNumUnique" parameterType="String" resultMap="CaseInfoResult">
        <include refid="selectCaseInfoVo"/>
        where c.case_number=#{caseNum} limit 1
    </select>


</mapper>