<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.caseFile.mapper.CaseFileMapper">

    <!--    笔录-->
    <resultMap type="CaseFile" id="CaseRecordResult">
        <association property="caseInfo" column="case_id" javaType="CaseInfo" resultMap="CaseInfoResult"/>
        <association property="overload" column="overload_id" javaType="Overload" resultMap="OverloadResult"/>
        <association property="vehicle" column="veh_id" javaType="Vehicle" resultMap="VehicleResult"/>
        <association property="person" column="person_id" javaType="Person" resultMap="PersonResult"/>
        <association property="company" column="company_id" javaType="Company" resultMap="CompanyResult"/>
    </resultMap>

    <!--    案件信息-->
    <resultMap type="CaseInfo" id="CaseInfoResult">
        <id property="caseId" column="case_id"/>
        <result property="personId" column="person_id"/>
        <result property="companyId" column="company_id"/>
        <result property="personId" column="person_id"/>
        <result property="companyId" column="company_id"/>
        <result property="caseNumber" column="case_number"/>
        <result property="createTime" column="create_time"/>
        <result property="caseObject" column="case_object"/>
        <result property="vehPlateNum" column="veh_plate_Num"/>
    </resultMap>

        <!--    车辆信息-->
        <resultMap id="VehicleResult" type="Vehicle">
            <id property="vehId" column="veh_id"/>
            <result property="vehPlateNum" column="veh_plate_Num"/>
            <result property="vehPlateColor" column="veh_plate_color"/>
            <result property="vehAxleNum" column="veh_axes"/>
            <result property="vehType" column="veh_type"/>
        </resultMap>

        <!--    个人信息-->
        <resultMap id="PersonResult" type="Person">
            <id property="personId" column="person_id;"/>
            <result property="personName" column="person_name"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="numberId" column="number_id"/>
            <result property="personPhone" column="person_phone"/>
            <result property="homeAddress" column="home_address"/>
            <result property="workUnit" column="work_unit"/>
            <result property="contactAddress" column="contact_address"/>
            <result property="post" column="post"/>
        </resultMap>

        <!--    公司信息-->
        <resultMap id="CompanyResult" type="Company">
            <id property="companyId" column="company_id;"/>
            <result property="companyName" column="company_name"/>
            <result property="creditCode" column="credit_code"/>
            <result property="directorName" column="director_name"/>
            <result property="directorNumId" column="director_num_id"/>
            <result property="companyAddress" column="company_address"/>
            <result property="companyPhone" column="company_phone"/>
        </resultMap>

    <!--    超限信息-->
    <resultMap id="OverloadResult" type="Overload">
        <id property="overloadId" column="overload_id;"/>
        <result property="vehPlateNum" column="veh_plate_num"/>
        <result property="checkTime" column="check_time"/>
        <result property="checkSite" column="check_site"/>
        <result property="totalWeight" column="total_weight"/>
        <result property="outWeight" column="out_weight"/>
        <result property="goods" column="goods"/>
        <result property="loadTime" column="load_time"/>
        <result property="loadSite" column="load_site"/>
        <result property="dest" column="dest"/>
    </resultMap>


    <!--    查询所有笔录信息-->
    <sql id="selectRecordList">
        select
            c.case_id, c.case_number, c.case_object,c.create_time, c.veh_plate_num, c.person_id, c.company_id,
            v. veh_plate_color, v. veh_type, v. veh_axes,
            o.check_time, o.check_site, o.total_weight, o.out_weight,o.goods, o.load_time,o.load_site, o.dest,
            p.person_name, p.sex, p.number_id, p.age, p.person_phone, p.home_address, p.work_unit, p.post, p.contact_address,
            cp.company_name, cp.credit_code, cp. director_name, cp. director_num_id, cp. company_address, cp. company_phone
        from rec_offsite_case c
                 left join rec_offsite_overload  o  on c.case_id = o.overload_id
                 left join rec_offsite_veh  v on c.veh_plate_num=v. veh_plate_num
                 left join rec_offsite_person p on c.person_id = p.person_id
                 left join rec_offsite_company cp on c.company_id = cp.company_id
    </sql>

    <!--    查询所有笔录信息-->
    <select id="selectRecordList"  resultMap="CaseRecordResult">
        select
            c.case_id, c.case_number, c.case_object,c.create_time, c.veh_plate_num, c.person_id, c.company_id,
            v. veh_plate_color, v. veh_type, v. veh_axes,
            o.check_time, o.check_site, o.total_weight, o.out_weight,o.goods, o.load_time,o.load_site, o.dest,
            p.person_name, p.sex, p.number_id, p.age, p.person_phone, p.home_address, p.work_unit, p.post, p.contact_address,
            cp.company_name, cp.credit_code, cp. director_name, cp. director_num_id, cp. company_address, cp. company_phone
        from rec_offsite_case c
             left join rec_offsite_overload  o  on c.case_id = o.overload_id
             left join rec_offsite_veh  v on c.veh_plate_num=v. veh_plate_num
             left join rec_offsite_person p on c.person_id = p.person_id
             left join rec_offsite_company cp on c.company_id = cp.company_id;
    </select>

    <!--    通过案件id查询笔录-->
    <select id="selectRecordById" parameterType="Integer" resultMap="CaseRecordResult">
        <include refid="selectRecordList"/>
        where c.case_id = #{caseId}
    </select>


</mapper>