<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.offsite.caseInfo.mapper.CaseInfoMapper">

    <!--    案件信息-->
    <resultMap type="CaseInfo" id="CaseInfoResult">
        <id property="caseId" column="case_id"/>
        <result property="personId" column="person_id"/>
        <result property="companyId" column="company_id"/>
        <result property="letterNumber" column="letter_number"/>
        <result property="caseNumber" column="case_number"/>
        <result property="createTime" column="create_time"/>
        <result property="caseObject" column="case_object"/>
        <result property="vehId" column="veh_id"/>
    </resultMap>

    <sql id="selectCaseInfoVo">
        select c.case_id, c.case_number, c.case_object, c.veh_id, c.person_id, c.company_id, c.create_time
        from rec_offsite_case c
    </sql>


    <insert id="insertCase" parameterType="CaseInfo" useGeneratedKeys="true" keyProperty="caseId">
        insert into rec_offsite_case(
        <if test="caseInfo.caseId != null">case_id,</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">case_number,</if>
        <if test="caseInfo.letterNumber != null and caseInfo.letterNumber != ''">letter_number,</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">case_object,</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">person_id,</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">company_id,</if>
        <if test="caseInfo.vehId != null and caseInfo.vehId != ''">veh_id,</if>
        <if test="caseInfo.enquirePerson != null and caseInfo.enquirePerson != ''">enquire_person,</if>
        <if test="caseInfo.recordPerson != null and caseInfo.recordPerson != ''">record_person,</if>
        create_time,
        update_time
        )values(
        <if test="caseInfo.caseId != null and caseInfo.caseId != ''">#{caseInfo.caseId},</if>
        <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">#{caseInfo.caseNumber},</if>
        <if test="caseInfo.letterNumber != null and caseInfo.letterNumber != ''">#{caseInfo.letterNumber},</if>
        <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">#{caseInfo.caseObject},</if>
        <if test="caseInfo.personId != null and caseInfo.personId != ''">#{caseInfo.personId},</if>
        <if test="caseInfo.companyId != null and caseInfo.companyId != ''">#{caseInfo.companyId},</if>
        <if test="caseInfo.vehId != null and caseInfo.vehId != ''">#{caseInfo.vehId},</if>
        <if test="caseInfo.enquirePerson != null and caseInfo.enquirePerson != ''">#{caseInfo.enquirePerson},</if>
        <if test="caseInfo.recordPerson != null and caseInfo.recordPerson != ''">#{caseInfo.recordPerson},</if>
        sysdate(),
        sysdate()
        )
    </insert>


    <update id="updateCaseInfo" parameterType="CaseInfo">
        update rec_offsite_case
        <set>
            <if test="caseInfo.caseNumber != null and caseInfo.caseNumber != ''">case_number=#{caseInfo.caseNumber},
            </if>
            <if test="caseInfo.letterNumber != null and caseInfo.letterNumber != ''">letter_number=#{caseInfo.letterNumber},
            </if>
            <if test="caseInfo.caseObject != null and caseInfo.caseObject != ''">case_object=#{caseInfo.caseObject},
            </if>
            <if test="caseInfo.personId != null and caseInfo.personId != ''">person_id=#{caseInfo.personId},</if>
            <if test="caseInfo.companyId != null and caseInfo.companyId != ''">company_id=#{caseInfo.companyId},</if>
            <if test="caseInfo.vehId != null and caseInfo.vehId != ''">veh_Id=#{caseInfo.vehId},</if>
            <if test="caseInfo.recordPerson != null and caseInfo.recordPerson != ''">enquire_person=#{caseInfo.recordPerson},</if>
            <if test="caseInfo.recordPerson != null and caseInfo.recordPerson != ''">record_person=#{caseInfo.recordPerson},</if>
            update_time = sysdate()
        </set>
        where case_id = #{caseInfo.caseId}
    </update>

    <select id="selectCaseInfoByNum" parameterType="String" resultMap="CaseInfoResult">
        <include refid="selectCaseInfoVo"/>
        where c.case_number=#{caseNum} limit 1
    </select>

    <select id="selectCaseInfoByIdAndNum"  resultMap="CaseInfoResult">
        <include refid="selectCaseInfoVo"/>
        where c.case_id=#{caseId} and c.case_number=#{caseNum} limit 1
    </select>

    <delete id="deleteCaseInfoByIds" parameterType="Integer">
        delete from rec_offsite_case where case_id in
        <foreach collection="array" item="caseId" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>


</mapper>