<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.user.mapper.UserMapper">

    <resultMap type="OffSiteCase" id="OffSiteCaseResult">
        <id property="caseId" column="case_id"/>
        <result property="vehId" column="veh_id"/>
        <result property="caseNumber" column="case_number"/>
        <result property="caseObject" column="case_object"/>
        <result property="caseTime" column="case_time"/>
        <association property="vehicle" column="veh_id" javaType="Vehicle" resultMap="vehicleResult"/>
    </resultMap>

    <resultMap id="vehicleResult" type="Vehicle">
        <id property="vehId" column="veh_id"/>
        <result property="vehPlate" column="plate_num"/>
        <result property="vehPlateColor" column="plate_color"/>
        <result property="VehAxleNum" column="veh_type"/>
        <result property="vehType" column="veh_axes"/>
    </resultMap>


    <!--	<sql id="selectUserVo">-->
    <!--        select  u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.avatar, u.phonenumber, u.sex, u.password, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.pwd_update_date, u.create_time, u.remark,-->
    <!--       		    d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,-->
    <!--       		    r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status-->
    <!--		from sys_user u-->
    <!--			 left join sys_dept d on u.dept_id = d.dept_id-->
    <!--			 left join sys_user_role ur on u.user_id = ur.user_id-->
    <!--			 left join sys_role r on r.role_id = ur.role_id-->
    <!--    </sql>-->

    <insert id="insertOffSiteCase" parameterType="OffSiteCase" useGeneratedKeys="true" keyProperty="caseId">
        insert into rec_offsite_case(
        <if test="caseId != null and caseId != 0">case_id,</if>
        <if test="vehId != null and vehId != 0">veh_id,</if>
        <if test="caseNumber != null and caseNumber != ''">case_number,</if>
        <if test="caseObject != null and caseObject != ''">case_object,</if>
        <if test="caseTime != null and caseTime != ''">case_time,</if>
        create_time
        )values(
        <if test="caseId != null and caseId != ''">#{caseId},</if>
        <if test="vehId != null and vehId != ''">#{vehId},</if>
        <if test="caseNumber != null and caseNumber != ''">#{caseNumber},</if>
        <if test="caseObject != null and caseObject != ''">#{caseObject},</if>
        <if test="caseTime != null and caseTime != ''">#{caseTime},</if>
        sysdate()
        )
    </insert>

</mapper> 