<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.overload.mapper.OverloadMapper">

    <insert id="insertOverload" parameterType="Overload" useGeneratedKeys="true" keyProperty="overloadId">
        insert into rec_offsite_overload(
        <if test="overload.overloadId != null and overload.overloadId != ''">overload_id,</if>
        <if test="overload.checkTime != null ">check_time,</if>
        <if test="overload.checkSite != null and overload.checkSite != ''">check_site,</if>
        <if test="overload.totalWeight != null and overload.totalWeight != ''">total_weight,</if>
        <if test="overload.outWeight != null and overload.outWeight != ''">out_weight,</if>
        <if test="overload.goods != null and overload.goods != ''">goods,</if>
        <if test="overload.loadTime != null">load_time,</if>
        <if test="overload.loadSite != null and overload.loadSite != ''">load_site,</if>
        <if test="overload.dest != null and overload.dest != ''">dest,</if>
        <if test="overload.vehPlateNum != null and overload.vehPlateNum != ''">veh_plate_num</if>
        ) values (
        <if test="overload.overloadId != null and overload.overloadId != ''">#{overload.overloadId},</if>
        <if test="overload.checkTime != null">#{overload.checkTime},</if>
        <if test="overload.checkSite != null and overload.checkSite != ''">#{overload.checkSite},</if>
        <if test="overload.totalWeight != null and overload.totalWeight != ''">#{overload.totalWeight},</if>
        <if test="overload.outWeight != null and overload.outWeight != ''">#{overload.outWeight},</if>
        <if test="overload.goods != null and overload.goods != ''">#{overload.goods},</if>
        <if test="overload.loadTime != null">#{overload.loadTime},</if>
        <if test="overload.loadSite != null and overload.loadSite != ''">#{overload.loadSite},</if>
        <if test="overload.dest != null and overload.dest != ''">#{overload.dest},</if>
        <if test="overload.vehPlateNum != null and overload.vehPlateNum != ''">#{overload.vehPlateNum }</if>
        )
    </insert>

</mapper> 