<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.record.offsite.person.mapper.PersonMapper">

    <!--    个人信息-->
    <resultMap id="PersonResult" type="Person">
        <id property="personId" column="person_id"/>
        <result property="personName" column="person_name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="numberId" column="number_id"/>
        <result property="personPhone" column="person_phone"/>
        <result property="homeAddress" column="home_address"/>
        <result property="workUnit" column="work_unit"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="post" column="post"/>
        <result property="postCode" column="post_code"/>
    </resultMap>

    <sql id="selectPersonVo">
        select p.person_id,
               p.person_name,
               p.sex,
               p.number_id,
               p.age,
               p.person_phone,
               p.home_address,
               p.work_unit,
               p.post,
               p.contact_address,
               p.post_code
        from rec_offsite_person p
    </sql>

    <insert id="insertPerson" parameterType="Person" useGeneratedKeys="true" keyProperty="personId">
        insert into rec_offsite_person(
        <if test="person.personId != null and person.personId != ''">person_id,</if>
        <if test="person.personName != null and person.personName != ''">person_name,</if>
        <if test="person.numberId != null and person.numberId != ''">number_id,</if>
        <if test="person.age != null and person.age != ''">age,</if>
        <if test="person.sex != null and person.sex != ''">sex,</if>
        <if test="person.personPhone != null and person.personPhone != ''">person_phone,</if>
        <if test="person.homeAddress != null and person.homeAddress != ''">home_address,</if>
        <if test="person.workUnit != null and person.workUnit != ''">work_unit,</if>
        <if test="person.post != null and person.post != ''">post,</if>
        <if test="person.contactAddress != null and person.contactAddress != ''">contact_address,</if>
        <if test="person.postCode != null and person.postCode != ''">post_code,</if>
        update_time
        ) values (
        <if test="person.personId != null and person.personId != ''">#{person.personId},</if>
        <if test="person.personName != null and person.personName != ''">#{person.personName},</if>
        <if test="person.numberId != null and person.numberId != ''">#{person.numberId},</if>
        <if test="person.age != null and person.age != ''">#{person.age},</if>
        <if test="person.sex != null and person.sex != ''">#{person.sex},</if>
        <if test="person.personPhone != null and person.personPhone != ''">#{person.personPhone},</if>
        <if test="person.homeAddress != null and person.homeAddress != ''">#{person.homeAddress},</if>
        <if test="person.workUnit != null and person.workUnit != ''">#{person.workUnit},</if>
        <if test="person.post != null and person.post != ''">#{person.post},</if>
        <if test="person.contactAddress != null and person.contactAddress != ''">#{person.contactAddress},</if>
        <if test="person.postCode != null and person.postCode != ''">#{person.postCode},</if>
        sysdate()
        )
        ON DUPLICATE KEY UPDATE
<!--        <if test="person.personName != null and person.personName != ''">person_name=values(person_name),</if>-->
<!--        <if test="person.numberId != null and person.numberId != ''">number_id=values(number_id),</if>-->
        <if test="person.age != null and person.age != ''">age=values(age),</if>
        <if test="person.sex != null and person.sex != ''">sex=values(sex),</if>
        <if test="person.personPhone != null and person.personPhone != ''">person_phone=values(person_phone),</if>
        <if test="person.homeAddress != null and person.homeAddress != ''">home_address=values(home_address),</if>
        <if test="person.workUnit != null and person.workUnit != ''">work_unit=values(work_unit),</if>
        <if test="person.post != null and person.post != ''">post=values(post),</if>
        <if test="person.contactAddress != null and person.contactAddress != ''">
            contact_address=values(contact_address),
        </if>
        <if test="person.postCode != null and person.postCode != ''">post_code=values(post_code),</if>
        update_time=sysdate()
    </insert>

    <update id="updatePerson" parameterType="Person">
        update rec_offsite_person
        <set>
            <if test="person.personName != null and person.personName != ''">person_name=#{person.personName},</if>
            <if test="person.numberId != null and person.numberId != ''">number_id=#{person.numberId},</if>
            <if test="person.age != null and person.age != ''">age=#{person.age},</if>
            <if test="person.sex != null and person.sex != ''">sex=#{person.sex},</if>
            <if test="person.personPhone != null and person.personPhone != ''">person_phone=#{person.personPhone},</if>
            <if test="person.homeAddress != null and person.homeAddress != ''">home_address=#{person.homeAddress},</if>
            <if test="person.workUnit != null and person.workUnit != ''">work_unit=#{person.workUnit},</if>
            <if test="person.post != null and person.post != ''">post=#{person.post},</if>
            <if test="person.contactAddress != null and person.contactAddress != ''">
                contact_address=#{person.contactAddress},
            </if>
            <if test="person.postCode != null and person.postCode != ''">post_code=#{person.postCode},</if>
            update_time=sysdate()
        </set>
        where person_id = #{person.personId}
    </update>

    <!--    通过个人姓名查询个人信息-->
    <select id="selectPersonByName" parameterType="String" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where p.person_name = #{personName}
    </select>

    <!--    通过个人id查询个人信息-->
    <select id="selectPersonById" parameterType="Integer" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where p.person_id = #{personId}
    </select>

    <select id="checkPersonUnique" parameterType="String" resultMap="PersonResult">
        <include refid="selectPersonVo"/>
        where p.person_name=#{personName}  and  p.number_id = #{numberId} limit 1
    </select>


</mapper> 